<!doctype html>
<html lang="ru">
    <header>
        <div class="full-logo">
            <div class="logo">
                <p class="circumflex-logo">*/</p> 
                <p class="text-logo">Цифровое</p>
            </div>
            <p class="text-logo2">портфолио</p>
        </div>
        <div class="buttons">
            <button (click)="toLogin()" class="login-button">
                <p class="login-button-text">Войти</p> 
            </button>
            <button class="registration-button">
                <p class="registration-button-text">Зарегистрироваться</p> 
            </button>
        </div>
    </header>
    <body>
        <p class="title">Построй своё будущее сегодня</p>
        <div class="cards">
            <div class="first-line">
                <div class="long-card">
                    <div class="card-img">
                        <img src="../../../assets/main-page-photo_1.png" alt="">
                    </div>
                    <div class="card-text">
                        <p>Следить за учебным процессом</p>
                    </div>
                </div>
                <div class="short-card">
                    <div class="card-img">
                        <img src="../../../assets/main-page-photo_2.png" alt="">
                    </div>
                    <div class="card-text">
                        <p>Управлять ВУЗ’ом</p>
                    </div>
                </div>
            </div>
            <div class="second-line">
                <div class="short-card">
                    <div class="card-img">
                        <img src="../../../assets/main-page-photo_3.png" alt="">
                    </div>
                    <div class="card-text">
                        <p>Собрать все достижения <br> в одном месте</p>
                    </div>
                </div>
                <div class="long-card">
                    <div class="card-img">
                        <img src="../../../assets/main-page-photo_4.png" alt="">
                    </div>
                    <div class="card-text">
                        <p>Получить гранты и стипендии</p>
                    </div>
                </div>
            </div>
            <div class="third-line">
                <div class="middle-card1">
                    <div class="card-img">
                        <img src="../../../assets/main-page-photo_5.png" alt="">
                    </div>
                    <div class="card-text">
                        <p>Быть в курсе всех актуальных новостей и событий</p>
                    </div>
                </div>
                <div class="middle-card">
                    <div class="card-img">
                        <img src="../../../assets/main-page-photo_6.png" alt="">
                    </div>
                    <div class="card-text">
                        <p>Учиться и саморазвиваться</p>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <footer>
        <div class="full-logo">
            <div class="logo">
                <p class="text-logo">*/ЦИФРОВОЕ</p> 
            </div>
            <div class="text-logo2">ПОРТФОЛИО</div>
        </div>
        <div class="some-text">
            <div class="politics">
                Политика конфиденциальности
            </div>
            <div class="help">
                Поддержка
            </div>
        </div>
        <div class="icons">
            <div class="vk">
                <a href="https://vk.com/nntudigital" target="blank"><img src="../../../assets/VK - Original.svg" alt=""></a>
            </div>
            <div class="telegram">
                <a href="https://t.me/nntudigital" target="_blank"><img src="../../../assets/Telegram - Original.svg" alt=""></a>
            </div>
        </div>
        <div class="comment"><p>Учебный проект в рамках дисциплины «Большие данные»</p></div>
      </footer>
</html>