html {
    font-size: 16px;
}

header {
    padding: 2.25rem 18rem;
    padding-bottom: 0;
    display: flex;
    // margin-bottom: 3.75em;
}

body {
    padding: 2.25rem 18rem;
    // height: 655px;
}

.logo, .text-logo2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 130%;

    display: flex;
}

.circumflex-logo {
    color: #0069B4;
}

.text-logo {
    color: black;
}

.buttons {
    margin-left: auto;
}

.login-button {
    background: #C6E7FF;

    border: 2px solid #C6E7FF;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
}

.registration-button {
    background: #FFFFFF;

    border: 2px solid #92D1FF;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-button-text, .registration-button-text{
    padding: 1rem 1.5rem 1.125rem;
    color: #0069B4;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 130%;
    /* or 23px */
}

.login-button:hover, .registration-button:hover {
    cursor: pointer;
    background: #92D1FF;
}

.login-button:hover {
    border: 2px solid #92D1FF;
}

.login-button {
    margin-right: 1.5rem;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 3.5em;
    line-height: 130%;
    /* identical to box height, or 73px */

    text-align: center;

    color: #000000;

    margin-bottom: 3rem;
}


footer {
    background-color: #0069B4;
    // height: 16rem;
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;

    // display: flex;
    // justify-content: center;
}

footer .logo, footer .text-logo2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 130%;

    display: flex;
}

footer .circumflex-logo, footer .text-logo, footer .text-logo2 {
    color: #FFFFFF;
}

footer .full-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1.5rem;
}

.some-text {
    display: flex;
    justify-content: center;
}

.some-text .politics, .some-text .help {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 130%;

    color: #FFFFFF;
}

.some-text {
    padding-bottom: 1.5rem;
}

.some-text .politics {
    padding-right: 1.25rem;
}

.some-text .politics:hover, .some-text .help:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;

    // padding-bottom: 2.25rem;
}

.icons .vk {
    padding-right: 1.25rem;
}

.icons .vk:hover, .icons .telegram:hover {
    opacity: 90%;
    cursor: pointer;
}

.comment {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 130%;

    text-align: center;
    color: #E7E7E7;
}

.first-line, .second-line, .third-line {
    display: flex;
    justify-content: center;
}

.first-line .long-card, .second-line .short-card {
    margin-right: 1.5rem;
}

.first-line, .second-line {
    margin-bottom: 1.5rem;
}

.long-card {
    width: 75%; // 60.5rem
    height: 28.938rem; // 28.938rem

    background: #F5F7FA;
    border-radius: 12px;

    overflow: hidden;
}

.short-card {
    width: 25%; // 29.5rem;
    height: 28.938rem; // 28.938rem

    background: #F5F7FA;
    border-radius: 12px;
    overflow: hidden;
}

.middle-card, .middle-card1 {
    width: 50%; // 45rem
    height: 28.938rem; // 28.938rem

    background: #F5F7FA;
    border-radius: 12px;

    overflow: hidden;
}


.middle-card1 {
    margin-right: 1.5rem;
}

.short-card:hover, .long-card:hover, .middle-card:hover, .middle-card1:hover {
    .card-img {
        transform: scale(1.05);
        transition: .2s;
    }
    .card-text {
        text-decoration-line: underline;
    }
    cursor: pointer;
}

.card-img {
    overflow: hidden;
    // width: 60.5rem;
    // height: 21.313rem;
    border-radius: 12px 12px 0px 0px;
    transform: scale(1.0);
    transition: .2s;
}

.card-img img {
    object-fit: cover;
    width: 100%;
    height: 21.313rem;
}

.card-text {
    position: absolute;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 130%;
    padding-left: 1.5rem;
    /* identical to box height, or 39px */

    // text-decoration-line: underline;

    color: #000000;

    margin-top: 1.5rem;
}