<footer>
    <div class="full-logo">
        <div class="logo">
            <p class="text-logo">*/ЦИФРОВОЕ</p> 
        </div>
        <div class="text-logo2">ПОРТФОЛИО</div>
    </div>
    <div class="some-text">
        <div class="politics">
            Политика конфиденциальности
        </div>
        <div class="help">
            Поддержка
        </div>
    </div>
    <div class="icons">
        <div class="vk">
            <a href="https://vk.com/nntudigital" target="blank"><img src="../../../assets/VK - Original.svg" alt=""></a>
        </div>
        <div class="telegram">
            <a href="https://t.me/nntudigital" target="_blank"><img src="../../../assets/Telegram - Original.svg" alt=""></a>
        </div>
    </div>
    <!-- <div class="comment"><p>Учебный проект в рамках дисциплины «Большие данные»</p></div> -->
  </footer>