footer {
    background-color: #0069B4;
    // height: 7.625rem;
    padding-top: 2.25rem;
    padding: 2.188rem 18rem;
    // padding-bottom: 1.5rem;
  
    // display: flex;
    // justify-content: center;
    display: flex;
  }
  
  footer .logo, footer .text-logo2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.188em;
    line-height: 130%;
  
    display: flex;
  }
  
  footer .circumflex-logo, footer .text-logo, footer .text-logo2 {
    color: #FFFFFF;
  }

  .full-logo {
    padding-right: 1.75rem;
  }
  
  // footer .full-logo {
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   align-items: center;
  
  //   padding-bottom: 1.5rem;
  // }
  
  .some-text {
    display: flex;
    align-items: center;
    // justify-content: center;
  }
  
  .some-text .politics, .some-text .help {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 130%;
  
    color: #FFFFFF;
  }

  .some-text {
    margin-left: auto;
  }
  
  .some-text .politics {
    padding-right: 1.125rem;
  }
  
  .some-text .politics:hover, .some-text .help:hover {
    text-decoration-line: underline;
    cursor: pointer;
  }
  
  .icons {
    display: flex;
    align-items: center;
  }

  .icons .vk {
    padding-right: 1rem;
  }
  
  .vk .telegram {
    width: 1.75rem;
    height: 1.75rem;
  }
  
  .icons .vk:hover, .icons .telegram:hover {
    opacity: 90%;
    cursor: pointer;
  }
