<div class="components">
    <app-sidebar class="border"></app-sidebar>
    <div class="new-components">
        <app-header></app-header>
        <body>
            <div class="main">
                <div class="search-delete-loadExcel">
                    <div class="search">
                        <input placeholder="Поиск" id="myInput" (keyup)="myFunction()">
                    </div>
                    <div class="icons">
                        <div class="icon1">
                            <p (click)="moveCheckedIDs()" class="delete"></p>
                        </div>
                        <div class="icon2">
                            <p (click)="doit('xlsx')" class="toExcel"></p>
                        </div>
                    </div>
                </div>
                <div class="myPortfolio">
                    <table border="1" class="no-double myTable1" id="myTable_list" >
                        <tr class="th">
                            <td class="checker">
                                <input type="checkbox" id="checkbox-id" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)" value="main_checker">
                                <!-- <label for="checkbox-id"></label> -->
                            </td>
                            <td>Наименование</td>
                            <td>Статус</td>
                            <td>Организатор</td>
                            <td>Степень</td>
                            <td>Дата получения</td>
                            <td>
                                <div class="ball">
                                    <span class="ball-title">Балл</span>
                                    <p (click)="helpInfo()" class="help"></p>
                                    <div class="check hidden_info">
                                        <p class="info-title">Распределение баллов</p>
                                        <p class="info-subtitle">Муниципальный</p>
                                        <p class="info-text">Победитель  — 3 балла</p>
                                        <p class="info-text">Призёр  — 2 балла</p>
                                        <p class="info-text">Участник  — 1 балла</p>
                                        <p class="info-text">Дипломант — 0,5 балла</p>
                                        <p class="info-subtitle">Областной</p>
                                        <p class="info-text">Победитель  — 4 балла</p>
                                        <p class="info-text">Призёр  — 3 балла</p>
                                        <p class="info-text">Участник — 2 балл</p>
                                        <p class="info-text">Дипломант — 1 балла</p>
                                        <p class="info-subtitle">Всероссийский</p>
                                        <p class="info-text">Победитель  — 5 баллов</p>
                                        <p class="info-text">Призёр  — 4 балла</p>
                                        <p class="info-text">Участник — 3 балла</p>
                                        <p class="info-text">Дипломант — 2 балла</p>
                                    </div>
                                </div>
                            <th></th>
                        </tr>
                        <!-- Заменить на БД достижений -->
                        <tr *ngFor="let User of userr" class="td">
                            <td class="checker">
                                <input type="checkbox" id="checkbox-id" (change)="checkIfAllSelected();" [(ngModel)]="User.isChecked">
                                <!-- <label for="checkbox-id"></label> -->
                            </td>
                            <td>{{User.fcs}}</td>
                            <td>{{User.age}}</td>
                            <td>{{User.pnumber}}</td>
                            <td>{{User.stnumber}}</td>
                            <td>{{User.groupID}}</td>
                            <td>{{User.avg}}</td>
                            <td><p class="edit"></p></td>   
                        </tr>
                        
                    </table>
                </div>
            </div>
            <div class="add">
                <form [formGroup]="form" (ngSubmit)="add(name.value, status.value, organizator.value, stepen.value, date.value);
                name.value = ''; organizator.value = ''; date.value = ''">
                    <div class="add-title">
                        <div class="title">
                            <p>Добавление достижения</p>
                        </div>
                    </div>
                    <div class="load-gramota">
                        <div class="add-button">
                            <input class="form-control" type="file" (change)="onChange($event)">
                            <!-- <p>Добавить фотографию/скан</p> -->
                        </div>
                        <div class="load" (click)="onUpload()">
                            <p>Загрузить</p>
                        </div>
                    </div>
                    <div class="input-field">
                        <p class="mini-title">Наименование олимпиады</p>
                        <input type="text" formControlName="name" class="name" placeholder="Всероссийская олимпиады школьников" #name>
                    </div>
                    <div class="input-field">
                        <p class="mini-title">Статус</p>
                        <select name="" id="status" class="status" #status>
                            <option selected value="Муниципальный">Муниципальный</option>
                            <option value="Областной">Областной</option>
                            <option value="Всероссийский">Всероссийский</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <p class="mini-title">Организатор</p>
                        <input type="text" formControlName="organizator" class="organizator" placeholder="Школа №54" #organizator>
                    </div>
                    <div class="input-field">
                        <p class="mini-title">Степень</p>
                        <select name="" id="stepen" class="stepen" #stepen>
                            <option selected value="Участник">Участник</option>
                            <option value="Дипломант">Дипломант</option>
                            <option value="Призёр">Призёр</option>
                            <option value="Победитель">Победитель</option>
                        </select>
                    </div>
                    <div class="input-field">
                        <p class="mini-title">Дата получения</p>
                        <div class="calendar">
                            <input type="date" formControlName="date" class="date" #date>
                            <!-- <p class="calend"></p> -->
                        </div>
                    </div>
                    <!-- <div class="input-field-btn"> -->
                        <button type="submit" [disabled]="form.invalid" class="input-field-btn">Добавить</button>
                    <!-- </div> -->
                </form>
            </div>
        </body>
    </div>
</div>

<app-footer></app-footer>