html {
    font-size: 16px;
}

header {
    padding: 2.25rem 14.25rem;
    padding-bottom: 0;
    display: flex;
    // margin-bottom: 3.75em;
}

body {
    padding: 2.25rem 14.25rem 3.75rem 14.25rem;
    // height: 655px;
}

.logo, .text-logo2 {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 130%;

    display: flex;
}

.circumflex-logo {
    color: #0069B4;
}

.text-logo {
    color: black;
}

.buttons {
    margin-left: auto;
}

.login-button {
    background: #C6E7FF;

    border: 2px solid #C6E7FF;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
}

.registration-button {
    background: #FFFFFF;

    border: 2px solid #92D1FF;
    box-sizing: border-box;
    border-radius: 8px;
}

.login-button-text, .registration-button-text{
    padding: 1rem 1.5rem 1.125rem;
    color: #0069B4;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 130%;
    /* or 23px */
}

.login-button:hover, .registration-button:hover {
    cursor: pointer;
    background: #92D1FF;
}

.login-button:hover {
    border: 2px solid #92D1FF;
}

.login-button {
    margin-right: 1.5rem;
}




body {
    display: flex;
    justify-content: center;
}

.login-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.875em;
    line-height: 130%;
    /* identical to box height, or 39px */

    color: #000000;

    margin-top: 3.75rem;
    margin-bottom: 2.25rem;
}

.phone_email, .password {
    width: 29.5rem;
    height: 4.063rem;

    background: #F5F7FA;
    border-radius: 8px;

    border: none;

    // padding: 1.313rem 1.5rem;
    // margin-bottom: 1.5rem;

    font-family: 'Inter';   
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 130%;

    box-sizing: border-box;
    padding-left: 1.5rem;

    color: black;
    /* or 23px */
}

// .password {
//     margin-bottom: 2.25rem;
// }

.sign-up-button {
    width: 29.5rem;
    height: 4.063rem;

    border-radius: 8px;
    border: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 130%;

    // margin-bottom: 10.625rem;
    margin-top: 0.75rem;
}

#sign-up-button {
    margin-bottom: 1.5rem;
    // margin-top: 0.75rem;
}

.sign-up-button:disabled {
    background: #DEDEDE;

    color: #8F8F8F;
}

.sign-up-button:enabled {
    background: #0069B4;
    color: #FFFFFF;
}

.sign-up-button:enabled:hover {
    cursor: pointer;
    background: #1A254A;
}

.hide {
    margin-left: -3em;
    margin-bottom: -0.35em;
}

.hide:hover {
    cursor: pointer;
}

span {    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 130%;
    color: #E22727;
}

.form-phone_email-span,
.form-password-span,
.form-button-span {
    display: flex;
    margin-top: 1rem;
}

.invisible {
    display: none;
}

.invisible2 {
    display: none;
}

.new_class {
    color: blue;
}

#phone_email, #password {
    margin-bottom: 1.5rem;
}

.phone_email.ng-invalid, .password.ng-invalid {
    background: #F5F7FA;
    border: 2px solid #E22727;
    box-sizing: border-box;
    border-radius: 8px;
}


.phone_email.ng-untouched, .password.ng-untouched {
    border: none;
} 

.route {
    display: flex;
    justify-content: center;

    padding-bottom: 6rem;
}

.toRegistration {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125em;
    line-height: 130%;
    color: #0069B4;
}

.toRegistration:hover {
    color:#1A254A;
    cursor: pointer;
}

input {
    outline: none;
}




footer {
    background-color: #0069B4;
    height: 16rem;
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;

    // display: flex;
    // justify-content: center;
}

footer .logo, footer .text-logo2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 1.75em;
    line-height: 130%;

    display: flex;
}

footer .circumflex-logo, footer .text-logo, footer .text-logo2 {
    color: #FFFFFF;
}

footer .full-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    padding-bottom: 1.5rem;
}

.some-text {
    display: flex;
    justify-content: center;
}

.some-text .politics, .some-text .help {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 130%;

    color: #FFFFFF;
}

.some-text {
    padding-bottom: 1.5rem;
}

.some-text .politics {
    padding-right: 1.25rem;
}

.some-text .politics:hover, .some-text .help:hover {
    text-decoration-line: underline;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;

    padding-bottom: 2.25rem;
}

.icons .vk {
    padding-right: 1.25rem;
}

.icons .vk:hover, .icons .telegram:hover {
    opacity: 90%;
    cursor: pointer;
}

.comment {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 130%;

    text-align: center;
    color: #E7E7E7;
}