<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>Авторизация</title>
</head>
<header>
    <div class="full-logo">
        <div class="logo">
            <p class="circumflex-logo">*/</p> 
            <p class="text-logo">Цифровое</p>
        </div>
        <p class="text-logo2">портфолио</p>
    </div>
    <div class="buttons">
        <button (click)="toMain()" class="registration-button">
            <p class="registration-button-text">На главную</p> 
        </button>
    </div>
</header>

<body>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="login-header">Вход</p>
        <div class="form-group" id="phone_email" [ngClass]="{'has-error': form.get('phone_email').invalid && form.get('phone_email').touched}">
            <input autocomplete="off" type="text" class="phone_email" placeholder = "Телефон / Email" formControlName = "phone_email">
            <span class="form-phone_email-span" *ngIf="form.get('phone_email').invalid && form.get('phone_email').touched">
                <span *ngIf="form.get('phone_email')['errors']['required']">Введите телефон или Email</span>
            </span>
        </div>
        <div class="form-group" id="password" [ngClass]="{'has-error': form.get('password').invalid && form.get('password').touched}">
            <div class="test">
                <input autocomplete="off" [type]="show ? 'text' : 'password'" type="password" class="password" placeholder = "Пароль" formControlName = "password">
                <img src={{imageSrc}} (click)="showPassword()" class="hide" alt="">
            </div>
            <!-- <input autocomplete="off" type="password" class="password" placeholder = "Пароль" formControlName = "password"> -->
            <span class="form-password-span" *ngIf="form.get('password').invalid && form.get('password').touched">
                <span *ngIf="form.get('password')['errors']['required']">Введите пароль</span>
            </span>
            <span class="invisible">
                Неверный пароль
            </span>
            <span class="invisible2">
                Такого пользователя не существует
            </span>
        </div>
        <div class="form-group" id="sign-up-button">
            <button type="submit" class="sign-up-button" [disabled]="form.invalid">Авторизироваться</button>
            <!-- <span class="form-password-span">
                тут должен быть span, который скажет, что что-то ввелось <br> неправильно
            </span> -->
        </div>
    </form>
</body>

<footer>
    <div class="full-logo">
        <div class="logo">
            <p class="text-logo">*/ЦИФРОВОЕ</p> 
        </div>
        <div class="text-logo2">ПОРТФОЛИО</div>
    </div>
    <div class="some-text">
        <div class="politics">
            Политика конфиденциальности
        </div>
        <div class="help">
            Поддержка
        </div>
    </div>
    <div class="icons">
        <div class="vk">
            <img src="../../../assets/VK - Original.svg" alt="">
        </div>
        <div class="telegram">
            <img src="../../../assets/Telegram - Original.svg" alt="">
        </div>
    </div>
    <div class="comment"><p>Учебный проект в рамках дисциплины «Большие данные»</p></div>
</footer>
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->