<div class="content">
    <!-- <header> -->
        <div class="header">
            <p class="title" *ngIf="url == profile">Личный кабинет</p>
            <p class="title" *ngIf="url == portfolio">Индивидуальные достижения</p>
            <p class="title" *ngIf="url == achievements">Награды</p>
            <p class="title" *ngIf="url == rating">Рейтинг</p>
            <p class="title" *ngIf="url == news">Новости</p>
            <p class="title" *ngIf="url == inst_manage">Управление ВУЗ’ом</p>
            <p class="title" *ngIf="url == self_development">Саморазвитие</p>
        </div>
        <div class="username" *ngFor="let User of userr">
            <p *ngIf="User.id === user[0].id">{{User.fcs}}</p>
        </div>
    <!-- </header> -->
    <div class="container">
        <img src="../../../../assets/log-out.svg" (click)="onLogout()" class="onlogout">
    </div>
</div>