.content {
    display: flex;
    // width: 100.5rem;
    border: 1px solid #8F8F8F;
    box-sizing: border-box;
    border-left: none;
    border-top: none;
}

.container {
    padding: 1.25rem 0.938rem;
    border-left: 1px solid #8F8F8F;
    box-sizing: border-box;
    // border-left: none;
    margin-left: auto;
}

header {
    display: flex;
    padding: 1.25rem 0.938rem;
    // border: 1px solid #8F8F8F;
    // box-sizing: border-box;
    // border-left: none;
    // border-top: none;
    align-items: center;
    // width: 1000px;
    padding-right: 58.4rem;
}

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 120%;
    color: #000000;
    padding-right: 2rem;
}

.header {
    display: flex;
}

.username {
    margin-left: auto;
}

.onlogout {
    width: 1.5rem;
    height: 1.5rem;
}

.onlogout:hover {
    cursor: pointer;
}

// .username {
//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 1em;
//     line-height: 130%;
//     /* identical to box height, or 21px */
//     color: #000000;
// }