<div class="content">
    <!-- <header> -->
        <div class="header">
            <p class="title" *ngIf="url == profile">Личный кабинет</p>
            <p class="title" *ngIf="url == portfolio">Индивидуальные достижения</p>
            <p class="title" *ngIf="url == achievements">Награды</p>
            <p class="title" *ngIf="url == rating">Рейтинг</p>
            <p class="title" *ngIf="url == news">Новости</p>
            <p class="title" *ngIf="url == inst_manage">Управление ВУЗ’ом</p>
            <p class="title" *ngIf="url == self_development">Саморазвитие</p>
        </div>
        <!-- <div class="limit" *ngFor="let User of userr"> -->
            <div class="username">
                <p>{{user[0].fcs}}</p>
            </div>
        <!-- </div> -->
    <!-- </header> -->
    <div class="container">
        <img src="../../../../assets/log-out.svg" (click)="onLogout()" class="onlogout">
    </div>
</div>