.sidebar {
  width: 17.375rem;
  height: 50rem;

  padding: 2rem 0 0 2.75rem;

  background: #FFFFFF;
  // border-right: 1px solid #8F8F8F;
}

.logo, .text-logo2 {
  font-style: normal;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 130%;

  display: flex;
}

.circumflex-logo {
  color: #0069B4;
}

.text-logo {
  color: black;
}

.full-logo {
  padding-bottom: 1.75rem;
}

ul {
  list-style-type: none;
}

li {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 130%;
  /* dark-cyan */

  color: black;

  padding-bottom: 0.75em;
}

.current {
  color: #0069B4;
}

li:hover {
  cursor: pointer;
  color: #0069B4;
}