<div class="components">
    <app-sidebar class="border"></app-sidebar>
    <div class="new-components">
        <app-header></app-header>
        <body>
            <div class="news-line">
                <div class="news">
                    <a href="https://www.nntu.ru/news/detail/education/vse-novosti/studencheskaya-olimpiada-po-matematike-proidet-v" target="_blank">
                        <img class="news-photo" src="../../../assets/news-1.png" alt="">
                        <div class="news-text">
                            <div class="news-title-date">
                                <div class="news-title">Образование</div>
                                <div class="news-date">05.04.2022</div>
                            </div>
                            <div class="news-description">
                                <a href="https://www.nntu.ru/news/detail/education/vse-novosti/studencheskaya-olimpiada-po-matematike-proidet-v" target="_blank">
                                    Студенческая олимпиада по математике пройдет 
                                    в НГТУ им. Р.Е. Алексеева</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news">
                    <a href="https://www.nntu.ru/news/detail/konkursy/vse-novosti/federalnyi-konkurs-zolotaya-stazhirovka-priglashaet" target="_blank">
                        <img class="news-photo" src="../../../assets/news-2.png" alt="">
                        <div class="news-text">
                            <div class="news-title-date">
                                <div class="news-title">Конкурсы</div>
                                <div class="news-date">04.04.2022</div>
                            </div>
                            <div class="news-description">
                                <a href="https://www.nntu.ru/news/detail/konkursy/vse-novosti/federalnyi-konkurs-zolotaya-stazhirovka-priglashaet" target="_blank">
                                    Федеральный конкурс «Золотая стажировка» 
                                    приглашает к участию</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-right">
                    <a href="https://www.nntu.ru/news/detail/education/vse-novosti/registraciya-na-molodezhnyi-proekt-lidery" target="_blank">
                        <img class="news-photo" src="../../../assets/news-3.png" alt="">
                        <div class="news-text">
                            <div class="news-title-date">
                                <div class="news-title">Образование</div>
                                <div class="news-date">03.04.2022</div>
                            </div>
                            <div class="news-description">
                                <a href="https://www.nntu.ru/news/detail/education/vse-novosti/registraciya-na-molodezhnyi-proekt-lidery" target="_blank">
                                    Регистрация на молодёжный проект «Лидеры 
                                    Нижегородской области»</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="news-line">
                <div class="news">
                    <a href="https://www.nntu.ru/news/detail/nauka-i-innovacii/vse-novosti/nachalas-registraciya-uchastnikov-foruma-kograf-2022" target="_blank">
                        <img class="news-photo" src="../../../assets/news-4.png" alt="">
                        <div class="news-text">
                            <div class="news-title-date">
                                <div class="news-title">Наука и инновации</div>
                                <div class="news-date">02.04.2022</div>
                            </div>
                            <div class="news-description">
                                <a href="https://www.nntu.ru/news/detail/nauka-i-innovacii/vse-novosti/nachalas-registraciya-uchastnikov-foruma-kograf-2022" target="_blank">
                                    Началась регистрация участников 
                                    форума «КОГРАФ-2022»</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news">
                    <a href="https://www.nntu.ru/news/detail/konkursy/vse-novosti/otkryt-priem-zayavok-na-konkurs-studencheskii-startap" target="_blank">
                        <img class="news-photo" src="../../../assets/news-5.png" alt="">
                        <div class="news-text">
                            <div class="news-title-date">
                                <div class="news-title">Конкурсы</div>
                                <div class="news-date">01.04.2022</div>
                            </div>
                            <div class="news-description">
                                <a href="https://www.nntu.ru/news/detail/konkursy/vse-novosti/otkryt-priem-zayavok-na-konkurs-studencheskii-startap" target="_blank">
                                    Открыт приём заявок на конкурс 
                                    «Студенческий стартап»</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="news-right">
                    <a href="https://www.nntu.ru/news/detail/education/vse-novosti/studencheskaya-olimpiada-po-matematike-proidet-v" target="_blank">
                        <img class="news-photo" src="../../../assets/news-6.png" alt="">
                        <div class="news-text">
                            <div class="news-title-date">
                                <div class="news-title">Спорт</div>
                                <div class="news-date">31.03.2022</div>
                            </div>
                            <div class="news-description">
                                <a href="https://www.nntu.ru/news/detail/education/vse-novosti/studencheskaya-olimpiada-po-matematike-proidet-v" target="_blank">
                                    У шахматистов политеха появится свой клуб
                                </a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </body>
    </div>
</div>

<app-footer></app-footer>