<div class="components">
    <app-sidebar class="border"></app-sidebar>
    <div class="new-components">
        <app-header></app-header>
        <body>
            <div class="received">
                <div class="achieve-title">
                    <p>Полученные</p>
                </div>
                <div class="cards-line">
                    <div class="card">
                        <div class="card-icon-blue">
                            <p class="icon-codesandbox"></p>
                        </div>
                        <div class="card-text-blue">
                            <div class="text-title">Добро пожаловать</div>
                            <div class="text-description">Завершить процедуру регистрации</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon-blue">
                            <p class="icon-star"></p>
                        </div>
                        <div class="card-text-blue">
                            <div class="text-title">Выше только звёзды</div>
                            <div class="text-description">Занять первое место в рейтинге</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon-blue">
                            <p class="icon-compass"></p>
                        </div>
                        <div class="card-text-blue">
                            <div class="text-title">Первый шаг</div>
                            <div class="text-description">Загрузить своё первое индивидуальное достижение</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="future">
                <div class="achieve-title">
                    <p>Будущие</p>
                </div>
                <div class="cards-line">
                    <div class="card">
                        <div class="card-icon-gray">
                            <p class="icon-bike"></p>
                        </div>
                        <div class="card-text-gray">
                            <div class="text-title">Дорога вперёд</div>
                            <div class="text-description">Загрузить три индивидуальных достижения</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon-gray">
                            <p class="icon-check-circle"></p>
                        </div>
                        <div class="card-text-gray">
                            <div class="text-title">Мой выбор</div>
                            <div class="text-description">Принять участие в голосовании</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-icon-gray">
                            <p class="icon-award"></p>
                        </div>
                        <div class="card-text-gray">
                            <div class="text-title">Отличная работа</div>
                            <div class="text-description">Загрузить достижение с баллом равным пяти</div>
                        </div>
                    </div>
                </div>
            </div>

        </body>
    </div>
</div>

<app-footer></app-footer>