<div class="components">
    <app-sidebar class="border"></app-sidebar>
    <div class="new-components">
        <app-header></app-header>
        <body>
            <div class="course-line">
                <div class="course">
                    <a href="https://www.school-xyz.com/intro-moushn-dizayn--besplatnyy-kurs-ot-xyz-school" target="_blank">
                        <img class="course-photo" src="../../../assets/course-1.png" alt="">
                        <div class="course-text">
                            <div class="course-description">
                                <a href="https://www.school-xyz.com/intro" target="_blank">
                                    Создай свою первую 3D-модель для игры</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a href="https://skillbox.ru/course/programming-introduction/?utm_source=yandex&utm_medium=cpc&utm_campaign=579_programming-introduction_yandex_cpc_master-campaign_course_all_all_gizatullin_70958309&utm_content=adg_4811741200%7Cad_11692162402%7Cph_36233763598%7Ckey_программирование%20курс%20бесплатно%7Cdev_desktop%7Cpst_premium_1%7Crgnid_47_Нижний%20Новгород%7Cplacement_none%7Ccreative_%7Bcreative_name%7D&utm_term=программирование%20курс%20бесплатно&yclid=4832322601082683391" target="_blank">
                        <img class="course-photo" src="../../../assets/course-2.png" alt="">
                        <div class="course-text">
                            <div class="course-description">
                                <a href="https://skillbox.ru/course/programming-introduction/?utm_source=yandex&utm_medium=cpc&utm_campaign=579_programming-introduction_yandex_cpc_master-campaign_course_all_all_gizatullin_70958309&utm_content=adg_4811741200%7Cad_11692162402%7Cph_36233763598%7Ckey_программирование%20курс%20бесплатно%7Cdev_desktop%7Cpst_premium_1%7Crgnid_47_Нижний%20Новгород%7Cplacement_none%7Ccreative_%7Bcreative_name%7D&utm_term=программирование%20курс%20бесплатно&yclid=4832322601082683391" target="_blank"> 
                                    Введение в программирование</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course-right">
                    <a href="https://www.school-xyz.com/intro-moushn-dizayn--besplatnyy-kurs-ot-xyz-school" target="_blank"> 
                        <img class="course-photo" src="../../../assets/course-3.png" alt="">
                        <div class="course-text">
                            <div class="course-description">
                                <a href="https://www.school-xyz.com/intro-moushn-dizayn--besplatnyy-kurs-ot-xyz-school" target="_blank"> 
                                    Intro motion-design</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="course-line">
                <div class="course">
                    <a href="https://netology.ru/programs/web-ux-ui-design-free?utm_source=yandex&utm_medium=cpc&utm_campaign=bdes_bpuxui_bou_ya_search&utm_content=11857509003&utm_term=бесплатные%20курсы%20по%20веб%20дизайну&yclid=5935684132105355263#/" target="_blank">
                        <img class="course-photo" src="../../../assets/course-4.png" alt="">
                        <div class="course-text">
                            <div class="course-description">
                                <a href="https://netology.ru/programs/web-ux-ui-design-free?utm_source=yandex&utm_medium=cpc&utm_campaign=bdes_bpuxui_bou_ya_search&utm_content=11857509003&utm_term=бесплатные%20курсы%20по%20веб%20дизайну&yclid=5935684132105355263#/" target="_blank">
                                    Как стать UX/UI-дизайнером: создаём свой первый сайт</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course">
                    <a href="https://intensive.skillbox.ru/data-analyst-intensive/?utm_referrer=https%3A%2F%2Fyandex.ru%2F" target="_blank"> 
                        <img class="course-photo" src="../../../assets/course-5.png" alt="">
                        <div class="course-text">
                            <div class="course-description">
                                <a href="https://intensive.skillbox.ru/data-analyst-intensive/?utm_referrer=https%3A%2F%2Fyandex.ru%2F" target="_blank"> 
                                    Профессия Data Scientist: учимся обработке и анализу</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="course-right">
                    <a href="https://webinar.skillbox.ru/manager-project/?utm_source=yandex&utm_medium=cpc&utm_campaign=all_all_yandex_cpc_seti_webinar-472-2022-04_all_management_skillbox_72694724&utm_content=adg_4869512550%7Cad_11940428230%7Cph_37543729259%7Ckey_проектный%20менеджмент%20курсы%7Cdev_desktop%7Cpst_premium_3%7Crgnid_47_Нижний%20Новгород%7Cplacement_none%7Ccreative_%7Bcreative_name%7D&utm_term=проектный%20менеджмент%20курсы&yclid=11237667927540367359" target="_blank">
                        <img class="course-photo" src="../../../assets/course-6.png" alt="">
                        <div class="course-text">
                            <div class="course-description">
                                <a href="https://webinar.skillbox.ru/manager-project/?utm_source=yandex&utm_medium=cpc&utm_campaign=all_all_yandex_cpc_seti_webinar-472-2022-04_all_management_skillbox_72694724&utm_content=adg_4869512550%7Cad_11940428230%7Cph_37543729259%7Ckey_проектный%20менеджмент%20курсы%7Cdev_desktop%7Cpst_premium_3%7Crgnid_47_Нижний%20Новгород%7Cplacement_none%7Ccreative_%7Bcreative_name%7D&utm_term=проектный%20менеджмент%20курсы&yclid=11237667927540367359" target="_blank"> 
                                    Введение в профессию Project Manager</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </body>
    </div>
</div>

<app-footer></app-footer>